*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #222;
  font-size: 81.25%;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

h1,
h2 {
  color: #757575;
  font-weight: 500;
  font-size: inherit;
}

button {
  position: relative;

  overflow: hidden;
  padding: 8px 16px;
  height: 36px;
  outline-width: 0;

  border: 0;
  border-radius: 3px;
  background: none;

  text-transform: uppercase;
  font: inherit;
  font-weight: 500;
  line-height: 154%;

  cursor: pointer;

  user-select: none;
}




.c-page {
  min-height: 400px;

  background: #f1f1f1;
}

  .c-page--small {
    min-width: 300px;
    min-height: 0;
    max-height: 600px;

    background: #fff;
  }

  .c-page__content {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 90%;
    width: 680px;

    background: #fff;
    box-shadow: 0 2px 6px #888;
  }




.c-tab {
  overflow: hidden;
  padding: 0.5rem 0;
}

  .c-tab + .c-tab {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  .c-tab__header {
    margin: 0 1rem;

    cursor: pointer;
  }

    .c-tab__title {
      margin: 0.2rem 0;

      vertical-align: middle;

      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }

    .c-tab__header:after {
      display: inline-block;
      width: 36px;
      height: 36px;

      background: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" stroke="#757575" fill="none"><path d="M8,13 l10,10 10,-10" stroke-width="2"></path></svg>);

      content: '';
    }

      .is-active .c-tab__header:after {
        transform: rotateZ(180deg);
      }

  .c-tab__content {
    overflow: auto;
    margin: 0;
    max-height: 0;

    transition: max-height 0.3s ease-in;
  }

    .is-active .c-tab__content {
      max-height: 400px;
    }




.c-effect {
  position: absolute;

  margin-top: -50%;
  margin-left: -50%;
  padding-bottom: 100%;
  width: 100%;

  border-radius: 50%;
  background: #212121;

  opacity: 0.25;
  transition: transform 0.2s ease-in;
  transform: scale(0);
}

  .c-effect--bright {
    background: #fff;
  }

  .c-effect.is-active {
    transform: scale(2);
  }




.c-list-table {
  display: block;
  padding-right: 2rem;
  padding-left: 3rem;

  list-style: none;
}

  .c-list-table__item {
    margin: 0;
    min-height: 4rem;

    list-style: none;
  }

  .c-list-table__info {
    color: #757575;

    text-align: center;
  }

    .c-list-table__item + .c-list-table__item {
      border-top: 1px solid rgba(0,0,0,0.2);
    }




.c-item {
  display: flex;
  align-items: center;
}

  .c-item__name {
    flex: 1;
  }

  .c-item__right {
    position: relative;

    flex: 0;
  }




.c-menu {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;

  display: none;
  padding: 0.5rem 0;
  width: 7rem;

  border: none;
  background: #fff;
  box-shadow: 0 2px 6px #888;

  transform: translateX(-100%);
}

  .is-shown {
    display: block;
  }

  .c-menu__item {
    display: block;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    min-height: 2rem;
    width: 100%;
    height: auto;

    border-radius: 0;

    text-align: left;
    text-transform: none;
    font-weight: 400;
    line-height: 154%;
  }




.c-single-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.c-dialog {
  top: 0;
  bottom: 0;
  z-index: 5;

  padding: 0;
  width: 512px;

  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);

  color: inherit;
}

  .is-shaking {
    animation: shake 0.25s ease-in infinite;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-0.5rem);
    }
    75% {
      transform: translateX(0.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  .c-modal-overlay.is-shown {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .c-dialog__title {
    margin: 0;
    padding: 16px 16px;

    color: inherit;
    font-weight: inherit;
    font-size: 15px;
    line-height: 1;
  }

  .c-dialog__footer {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 16px;
  }

  .c-dialog__close {
    margin-top: 4px;
    padding: 10px;
    width: 36px;
    height: 36px;

    border: 0;
    border-radius: 50%;
    background: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" stroke="#757575"><path d="M11.5,11.5 l13,13 m-13,0 l13,-13" stroke-width="2"></path></svg>');
    background-position: center;
    background-repeat: no-repeat;
  }

  .c-dialog__content {
    padding: 12px 16px;
  }




.c-input {
  display: block;
  margin-bottom: 8px;
  width: 264px;

  border-bottom: 1px solid #e0e0e0;
}

  .c-input--wide {
    width: 100%;
  }

  .is-focussed {
    border-bottom: 2px solid #4285f4;
  }

  .c-input__label {
    width: 133%;

    color: #737373;
    font: inherit;
    font-weight: 400;

    transform: translateY(-75%) scale(0.75);
  }

    .is-focussed .c-input__label {
      color: #4285f4;
    }

  .c-input__input {
    position: relative;

    padding: 3px 0;
    max-width: 100%;
    width: 100%;
    outline: none;

    border: none;
    background: transparent;
    box-shadow: none;

    color: #212121;
    font: inherit;
    line-height: 24px;

    -webkit-appearance: none;
  }




.c-btn {
  color: #757575;
}

  .c-btn--bright {
    background: #3a75d7;

    color: #fff;
  }

  .c-btn--icon {
    padding: 0;
    min-width: 0;
    width: 36px;

    border-radius: 50%;

    font-weight: 800;
    font-size: 24px;
  }

  .c-btn[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }


.c-info {
  display: inline-block;
  margin-left: 1rem;

  color: #b71c1c;

}

  .c-info__good {
    color: #4caf50;
  }




.u-pt {
  padding-top: 0.75rem;
}
